# Introduction aux séquences
_____

Les séquences en Python
==========

Il est possible de "stocker" plusieurs grandeurs dans une même structure, ce type de structure est appelé une séquence. De façon plus précise, nous définirons une séquence comme un ensemble fini et ordonné d'éléments indicés de 0 à n-1 (si cette séquence comporte n éléments). 
Nous allons étudier plus particulièrement 2 types de séquences : les tuples et les tableaux (il en existe d'autres que nous n'évoquerons pas ici).


```1.Les tuples en Python ```
===


Comme déjà dit ci-dessus, un tuple est une séquence. Voici un exemple très simple : 

<center><span style="color:blue"><strong> mon_tuple = (5, 8, 6, 9)</strong> </span></center>
    
 Dans le code ci-dessus, la variable "mon_tuple" référence un tuple, ce tuple est constitué des entiers 5, 8, 6 et 9. Comme indiqué dans la définition, chaque élément du tuple est indicé (il possède un indice):
 <ul>
   <li> le premier élément du tuple (l'entier 5) possède l'indice 0</li>
    <li>le deuxième élément du tuple (l'entier 8) possède l'indice 1</li>
    <li>le troisième élément du tuple (l'entier 6) possède l'indice 2</li>
    <li>le quatrième élément du tuple (l'entier 9) possède l'indice 3</li>
</ul>
Comment accéder à l'élément d'indice i dans un tuple ?

Simplement en utilisant la "notation entre crochets", comme pour accéder aux lettres dans une variable *string* :

<br><strong>À faire vous-même 1</strong>

Testez le code suivant :

<span style="color:blue">mon_tuple = (5, 8, 6, 9)<br> a = mon_tuple[2]</span>

On peut également écrire un tuple sans parentèse comme ceci mon_tuple = 5, 8, 6, 9 mais c'est moins lisible.

<br><br> Pour valider votre saisie dans le champs Entrée[ ] penser à faire <strong>Shift+Entrée</strong>

Quelle est la valeur référencée par la variable a (utilisez la console pour répondre à cette question)?

La variable mon_tuple référence le tuple (5, 8, 6, 9), la variable <span style="color:blue">a</span> référence l'entier 6 car cet entier 6 est bien le troisième élément du tuple, il possède donc l'indice 2

ATTENTION : dans les séquences les indices commencent toujours à 0 (le premier élément de la séquence a pour indice 0), oublier cette particularité est une source d'erreur "classique".

<br><strong>À faire vous-même 2</strong>

Complétez le code ci-dessous (en remplaçant les ...) afin qu'après l'exécution de ce programme la variable <strong>a</strong> référence l'entier 8.
Faire afficher la valeur de <strong>a</strong>.

In [3]:
mon_tuple = (5, 8, 6, 9)
a = mon_tuple[...]

 Un tuple ne contient pas forcément des nombres entiers, il peut aussi contenir des nombres décimaux, des chaînes de caractères, des booléens...
 
<br><strong>À faire vous-même 3</strong>

Quel est le résultat attendu après l'exécution de ce programme ?

Vérifiez votre hypothèse en testant ce programme


<span style="color:blue">mon_tuple = ("le", "monde", "bonjour")<br>
print(mon_tuple[2] + " " + mon_tuple[0] + " " + mon_tuple[1] + "!")</span>

<br><strong>À faire vous-même 4</strong>

Analysez puis testez le code suivant :

<span style="color:blue">def add(a, b):</span> <br>
<span STYLE="padding:0 0 0 40px">  c = a + b <br></span>
   <span STYLE="padding:0 0 0 40px">   return (a, b, c)<br></span>
<span style="color:blue">mon_tuple = add(5, 8)<br>
print(str(mon_tuple[0]) + " + " + str(mon_tuple[1])+ " = "+ str(mon_tuple[2]))</span>

 Il faut bien comprendre dans l'exemple ci-dessus que la variable mon_tuple référence un tuple (puisque la fonction "add" renvoie un tuple), d'où la "notation entre crochets" utilisée avec mon_tuple (mon_tuple[1]...)

La console permet d'afficher les éléments présents dans un tuple simplement en écrivant le nom du tuple:

<br><strong>À faire vous-même 5</strong>

Après avoir exécuté le programme ci-dessous, saisissez mon_tuple dans la console.


mon_tuple = (5, 8, 6, 9)


<strong>Il est possible d'assigner à des variables les valeurs contenues dans un tuple :

À faire vous-même 6</strong>


a, b, c, d = (5, 8, 6, 9)
		

Quelle est la valeur référencée par la variable a ? La variable b ? La variable c ? La variable d ? Vérifiez votre réponse à l'aide de la console Python.

<strong>A partir d'une chaîne de caractères, il est possible de créer un tuple avec la fonction tuple()

À faire vous-même 7</strong> <br>

<span style="color:blue">Lettres = tuple("Bonjour")<span><br><br>

Vérifier dans la console que Lettres est bien un tuple. Afficher Lettres.

<br> Puis faire afficher la lettre 'j' en utilisant uniquement la variable Lettres.

<strong>Comment ajouter des élèments à un tuple</strong>

<strong>À faire vous-même 8</strong> <br>
<span style="color:blue">
Nombres = (1,2)
    <br> Nombres =Nombres + (3,)<br><br>
    
</span> 
     
     Attention! Sans la virgule (3) est un int alors que (3,) est un tuple
Vérifier en affichant la variable <span style="color:blue">Nombres</span> dans la console que <span style="color:blue">Nombres</span> est le tuple (1,2,3)

<br> Ajouter les nombres 5 et 6 au tuple <span style="color:blue">Nombres</span> en une opération.

<strong>Comment initialiser un tuple</strong>

<strong>À faire vous-même 9</strong> <br>
<span style="color:blue">
Nombres = ()
</span> 
<br> Que vaut alors <span style="color:blue">
Nombres?
</span><br>
En créant une boucle for, créer à partir de la variable <span style="color:blue">Nombres</span> un tuple tel que Nombres=(0,1,2,3,4,5,6,7,8,9,10)

```2.Les listes ou tableaux en Python ```
===

 __ATTENTION__ : Dans la suite nous allons employer le terme "tableau". Pour parler de ces "tableaux" les concepteurs de Python ont choisi d'utiliser le terme de "list" ("liste" en français). Pour éviter toute confusion, notamment par rapport à des notions qui seront abordées en terminale, le choix a été fait d'employer "tableau" à la place de "liste" (dans la documentation vous rencontrerez le terme "list", cela ne devra pas vous pertuber)

Il n'est pas possible de modifier un tuple après sa création (on parle d'objet **"immutable"**), si vous essayez de modifier un tuple existant, l'interpréteur Python vous renverra une erreur. Les tableaux sont,comme les tuples, des séquences, mais à la différence des tuples, ils sont modifiables (on parle d'objets **"mutables"**).

<strong>On ne peut pas modifier les valeurs d'un tuple</strong>

<strong>À faire vous-même 10</strong> <br>
<span style="color:blue">
Trim1 = ("Janv",Février","Mars")
</span> 
<br> 


>Essayez de modifier le champ "Janv" en "Janvier"

>Que constatez vous?

In [7]:
Trim1 = ("Janv","Février","Mars")
....

**Pour créer un tableau, il existe différentes méthodes : une de ces méthodes ressemble beaucoup à la création d'un tuple :**

`mon_tab = ["Janvier", "Fév", "Mars", "Avril"]`

 Notez la présence des **crochets** à la place des parenthèses.

Un tableau est une séquence, il est donc possible de "récupérer" un élément d'un tableau à l'aide de son indice (de la même manière que pour un tuple ou une chaîne de caractères)


**À faire vous-même 11**

>Quelle est la valeur référencée par la variable `ma_variable` après l'exécution du programme ci-dessous ? (utilisez la console pour vérifier votre réponse)

In [ ]:
mon_tab = ["Janvier", "Fév", "Mars", "Avril"]
ma_variable = mon_tab[1]
...

 N.B. Il est possible de saisir directement `mon_tab[1]` dans la console sans passer par l'intermédiaire de la variable `ma_variable`


**Il est possible de modifier un tableau à l'aide de la "notation entre crochets" :**

**À faire vous-même 12**

>Quel est le contenu du tableau référencé par la variable `mon_tab` après l'exécution du programme ci-dessous ? (utilisez la console pour vérifier votre réponse)

In [10]:
mon_tab = ["Janvier", "Fév", "Mars", "Avril"]
mon_tab[1] = "Février"
...

 Comme vous pouvez le constater avec l'exemple ci-dessus, l'élément d'indice 1 (le string "Fév") a bien été remplacé par le string "Février"

**Il est aussi possible d'ajouter un élément en fin de tableau à l'aide de la méthode `append` :**

**À faire vous-même 13**

>Quel est le contenu du tableau référencé par la variable mon_tab après l'exécution du programme ci-dessous ? (utilisez la console pour vérifier votre réponse)

In [12]:
mon_tab = ["Janvier", "Février", "Mars", "Avril"]
mon_tab.append("Mai")
...

 **L'instruction "del" permet de supprimer un élément d'un tableau en utilisant son index :**

**À faire vous-même 14**

>Quel est le contenu du tableau référencé par la variable mon_tab après l'exécution du programme ci-dessous ? (utilisez la console pour vérifier votre réponse)

In [15]:
mon_tab = ["Janvier", "Février", "Mars", "Avril"]
del(mon_tab[1])
...

 **La fonction "len" permet de connaitre le nombre d’éléments présents dans une séquence (tableau et tuple)**
 
**À faire vous-même 15**

>Quelle est la valeur référencée par la variable nb_len après l'exécution du programme ci-dessous ? (utilisez la console pour vérifier votre réponse)

In [17]:
mon_tab = ["Janvier", "Février", "Mars", "Avril"]
nb_elem = len(mon_tab)
....

Une petite parenthèse : on pourrait s'interroger sur l'intérêt d'utiliser un tuple puisque le tableau permet plus de choses ! 

La réponse est simple : les opérations sur les tuples sont plus "rapides".

Quand vous savez que votre tableau ne sera pas modifié, il est préférable d'utiliser un tuple à la place d'un tableau.

## la boucle "for" : parcourir les éléments d'un tableau

La boucle `for... in` permet de parcourir chacun des éléments d’une séquence (tableau ou tuple) :

**À faire vous-même 16**

>Analysez puis testez le code suivant :

In [20]:
debut_annee = ["Janv","Fev","Mars","Avril"]
for mois in debut_annee:
    print(mois)

 Quelques explications : comme son nom l'indique, la boucle "for" est une boucle ! Nous "sortirons" de la boucle une fois que tous les éléments du tableau `debut_annee` auront été parcourus. element est une variable qui va :

    au premier tour de boucle, référencer le premier élément du tableau (la chaîne "Janv")
    au deuxième tour de boucle, référencer le deuxième élément du tableau (la chaîne "Fev")
    au troisième tour de boucle, référencer le troisième élément du tableau (la chaîne "Mars")
    au quatrième tour de boucle, référencer le quatrième élément de le tableau (la chaîne "Avril")

Une chose importante à bien comprendre : le choix du nom de la variable qui va référencer les éléments du tableau les uns après les autres (element) est totalement arbitraire, il est possible de choisir un autre nom sans aucun problème, le code suivant aurait donné exactement le même résultat :

In [ ]:
debut_annee = ["Janv","Fev","Mars","Avril"]
for toto in debut_annee:
    print(toto)

 **Dans la boucle `for... in` il est possible d’utiliser la fonction prédéfinie `range` à la place d’un tableau d’entiers :**
 
**À faire vous-même 17**

>Analysez puis testez le code suivant :

In [ ]:
for element in range(0, 5):
    print (element)

Comme vous pouvez le constater, `range(0,5)` est, au niveau de la boucle `for..in`, équivalent au tableau `[0,1,2,3,4]`, le code ci-dessous donnerait le même résultat que le programme vu dans le **À faire vous-même 17** :

In [ ]:
mon_tab = [0, 1, 2, 3, 4]
for element in mon_tab:
    print (element)

 ATTENTION : si vous avez dans un programme `range(a,b)`, `a` est la borne inférieure et `b` la borne supérieure. Vous ne devez surtout pas perdre de vu que la __borne inférieure est incluse__ , mais que la __borne supérieure est **exclue**__.

**Il est possible d'utiliser la méthode `range` pour "remplir" un tableau :**

>**À faire vous-même 18**

>Quel est le contenu du tableau référencé par la variable mon_tab après l'exécution du programme ci-dessous ? (utilisez la console pour vérifier votre réponse)

In [ ]:
mon_tab = []
for element in range(0, 5):
    mon_tab.append(element)
...

## Exercice
A vous de jouer!

<br>

# Exercice 1 : Résoudre une équation

Créer une première fonction nommée <span style="color:blue">equation</span> ayant pour paramètre un entier `x` et retournant un tuple composé des images de `f1` et `f2`. <br>`f1` et `f2` sont deux fonctions définies comme suit :


`f1(x) = 2x²-3x-20` et `f2(x)=x+28`

In [ ]:
def equation(x):
    ...

equation(5)

Céer une seconde fonction <span style="color:blue">test_equation</span> sans paramètre et retournant une éventuelle solution à l'équation     `2x²-3x-20=x+28`
<br> 
>Pour cela, vous ferez une boucle (de 0 à 20) qui calculera les valeurs des deux fonctions en utilisant la fonction equation et vous testerez si les valeurs de f1 et de f2 sont égales.
<br>Vous retournerez la valeur trouvée

In [ ]:
def test_equation():
    for x in range(21): # x prend les valeurs de 0 à 20
        ......
    
test_equation()

# Exercice 2 : Nom d’un mois

En utilisant un tuple, réalisez une fonction nom_mois qui à un entier compris entre 1 et 12 associe le nom du mois correspondant.
Pour cela vous créerez un tuple <span style="color:blue">Mois = ("Janv","Fev",Mars",Avril","Mai","Juin","Juillet","Août","Sept","Oct","Nov","Décembre")

In [ ]:
Mois = ("Janv","Fev","Mars","Avril","Mai","Juin","Juillet","Aout","Sept","Oct","Nov","Decembre")
def nom_mois(...):
    ...

    
nom_mois(5)

# Exercice 3 : Calcul de moyenne avec un tableau

- A partir de la variable `notes=[13,14,15,17,12,19]` qui est tableau (ou une liste), faire une fonction `moyenne` prenant en paramètre un tableau de notes et renvoyant la moyenne.

In [ ]:
def moyenne(notes):
    for ...
    
    
notes=[13,14,15,17,12,19]
moyenne(notes)

- Avec la fonction `del` supprimez la 5ème note puis ajoutez une nouvelle note avec la fonction `append`. Vous ajouterez 20. Vous calculerez à nouveau la moyenne.

In [ ]:
notes=[13,14,15,17,12,19]

....

moyenne(notes)


# Exercice 4+ : Appartenance à un tuple

Lorsque t est un tuple, l’expression x in t permet de tester l’appartenance de la valeur de x à ce tuple. La réponse est booléenne. Il est parfois intéressant d’avoir plus de précisions comme l’indice d’une occurrence de x dans t, ou bien le nombre d’occurrences.

Réalisez une fonction nommée indice qui renvoie l’indice de la première occurrence de son premier paramètre dans le tuple passé en second paramètre, si elle existe. Par exemple :

indice (1, (3, 1, 4, 1, 5, 9, 2))
    doit renvoyer 1
    
  On pourra utiliser la boucle <span style="color:blue"> for x in t: </span> pour parcourir tous les éléments du tuple (comme pour une chaîne de caractères)

In [ ]:
def indice(nb,t):
    ...


indice (9, (3, 1, 4, 1, 5, 9, 2))

Réalisez une fonction nommée nbre_occurrences qui renvoie le nombre d’occurrences du premier paramètre dans le tuple passé en second paramètre. Par exemple :

nbre_occurrences (1, (3,1,4,1,5,9,2))
    doit renvoyer 2


nbre_occurrences (8, (3,1,4,1,5,9,2))
    doit renvoyer 0

In [ ]:
...


nbre_occurrences (1, (3,1,4,1,5,9,2))


# Exercice 5+ : tuple miroir

Réalisez une fonction nommée renverse qui renvoie un tuple contenant les éléments du tuple t passé en paramètre dans l’ordre inverse.

Pour ajouter un élèment à un tuple il suffit d'utiliser l'opérateur <strong>+</strong> comme pour les chaînes de caractères. Il faut bien sûr que les deux opérandes soient des tuples. Pour cela, on pourra transformer un caractère ou nombre en un tuple de la manière suiante. Par exemple <span style="color:blue">t = ("a",)   et ici t=('a',)</span> c'est un tuple avec un seul élément.

Par exemple :

<span style="color:blue">l = tuple ('Timoleon')<br>
renverse(l)</span>
   <br> <br>doit renvoyer ('n', 'o', 'e', 'l', 'o', 'm', 'i', 'T')

In [ ]:
...

l = tuple ('Timoleon')
renverse(l)


# Exercice 6++ : liste et parité.

On rappelle que la fonction randint du module random permet de choisir un nombre au hasard (pseudo-aléatoirement) entre deux bornes a et b passée en paramètre. (les bornes sont inclues)

<span style="color:blue">from random import randint
<br>help(randint)</span>

Help on method randint in module random:

`randint(a, b)` method of random.Random instance
    Return random integer in range [a, b], including both end points.

<span style="color:blue">randint(0,99)
<br>20
</span>

>**Ecrivez une fonction nommée `liste_d_entiers_au_hasard` paramétrée par un entier n, qui renvoie un tableau (liste) de longueur n d'entiers choisi entre 1 et 100**

<span style="color:blue">liste_d_entiers_au_hasard(10)<br>
[4, 63, 73, 59, 44, 72, 30, 52, 44, 38]
</span>

In [ ]:
...


l1 = liste_d_entiers_au_hasard(10)
l1

On rappelle aussi le prédicat `est_pair` qui permet de déterminer si un entier n passé en paramètre est pair.

<span style="color:blue">def est_pair(n):<br>
.......return ( ( n % 2 ) == 0 )
</span><br><br>
>**Réalisez une fonction `filtre_pair` paramétrée par un tableau d'entiers `t` et dont le résultat est le tableau obtenu en supprimant les entiers impairs du tableau `t`.**

In [ ]:
def est_pair(n):
    return ( ( n % 2 ) == 0 ) 

def filtre_pair(t)
....

filtre_pair(l1)